/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}


/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a: hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Add this to your CSS - Structure for your site */
.wrapper {
    width: 100%;
    overflow: auto;
    /* This clears the float */
}

.container {
    width: 560px;
    margin: 0 auto;
    /* This centers the <div> */
}

.content {
    float: left;
    /* pushes the columns to one line */
}

display: grid;
grid-template-columns: 1fr 1fr;
width: 100%;


#outer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

#outer-grid > div {
    background-color: limegreen;
    color: white;
    font-size: 4vw;
    padding: 8px;
}

#inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

#inner-grid > div {
    background: lightgreen;
    padding: 8px;
}

ul {
    display: grid;
    grid: auto-flow / auto 1fr;
}

li {
    grid-column: span 2;
    display: grid;
    grid: subgrid;
    border: solid;
}

label {
    grid-column: 1;
}

input {
    grid-column: 2;
}
